
 /* .navbar{
  display: flex; 
  align-items: center;
  justify-content: space-around; 
  height: 50px;
  box-shadow: 0 0 8px 0 rgb(61, 61, 61);
  top: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
 
}  */

.cartlink{
  display: none;
  visibility: hidden;
}


.navbar-nav{
  /* margin-left: 6%; */
  text-align: center;
  justify-content: center;
  margin: auto;
}

.nav{
  
 
  height: 0px;
  box-shadow: 0 0 8px 0 rgb(61, 61, 61);
  top: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
 
} 

 .iconImg{
  /* width: 22px; */
  width: 100%;
  height: 40px; 
  padding: 0;
  margin: 0;
  /* margin-bottom: 25%; */
}


 /* input[type=text] {
  padding: 5px;

  font-size: 14px;
  border: 1px solid rgb(160, 159, 159);
  border-radius: 30px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin-top: 0;
} */


/* .but_res{
  position: absolute;
        top: 0;
        border-radius: 5px;
        right: 0px;
        z-index: 2;
        border: none;
        top: 2px;
        height: 30px;
        cursor: pointer;
        color: white;
        background-color: #1e90ff;
        transform: translateX(2px);
}

.twoBut{
  width: 300px;
        position: relative;
} */

 .icon{
  cursor: point;
  margin-left: 10px;
  position: relative;
}

 .counter{
  width: 7px;
  height: 7px;
  background-color: red;
  border-radius: 50%;
  padding: 11px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  left: 24px;
 color: white;
}

 .icons{
  display:flex;
  align-items: center;
}

 Link{
  display:flex;
  align-items: center;
  margin: 100px;
  padding: 20px;

}

.linkage{

  margin: 0px;
  padding: 0px;
  
}

 .dropbtn {
color: white;
font-size: 16px;
border: none;
}

 .dropbtn_again {
  color: white;
  font-size: 16px;
  border: none;
  }

  .navbar .dropdown {
/* position: relative; */
/* display: inline-block; */
}

.navbar .dropdown_again {
  /* position: relative;
  display: inline-block; */
  }


 .dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 200px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
font-size: 12px;

}

 .dropdown-content_again {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }

 .dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
font-size: 12px;
margin: 0;
}

 .dropdown-content_again a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 13px;
  margin: 0;
  }

  .drop-navbar{
    /* display: inline-block;
  height: 20px;
  width: 300px;
  background: #eee;
  padding: 10px;
  text-align: center; */
  }

#l {
    float: left;
    }
  
 #r {
    float: right;
    background-color: rgba(237, 76, 76, 0.328);
    color: white;
    }

 #r:hover {
      float: right;
      background-color: rgba(237, 76, 76);
      color: white;
      }

      .dropdown-content a:hover {background-color: #ddd;}

      .dropdown-content_again a:hover {background-color: #ddd;}


      .dropdown:hover .dropdown-content {display: block;}

       .dropdown_again:hover .dropdown-content_again {display: block;}



.dropdown:hover .dropbtn {};


 .searchicons{
  position: absolute;
  right: 0;
  margin-right: 15px;
  /* margin-top: 12px; */
}

 #clearBtn {
  cursor: pointer;
}


 input[type=checkbox]{
  /* display: none; */
 } 

 .dropbtn button:hover{
   box-shadow: none;
   background-color: transparent;
 }


  .hamburger {
  /* display: none; */
  font-size: 24px;
  user-select: none;
 }


#seek{
  display: none;
  visibility: hidden;
}

.dropdown-content .logOut:hover{
  background-color: rgba(253, 34, 34, 0.883);
  color: white;
}


 @media (max-width: 768px) {

  .col-md-1{
    visibility: visible;
    display: inline-block;
  }

  .form-control{
    width: 100%;
  }

 .navbar-expand-lg .con{
   height: 0px;
   margin-top: 0;
   top: 0;

 }

#seek{
  display: inline-block;
  visibility: visible;
  margin-left: -10%;
}


#hideseek{
  display: none;
  visibility: hidden;
}

.collapse .navbar-expand-lg .container-fluid .navbar{
  display: none;
  visibility: hidden;
}



  .cartlink{
  display: inline;
  visibility: visible;
  }
  .dropdown-content_again{
  display:none;
  position: absolute;
  background-color:teal;
  right: 0;
  left: 0;
  text-align: center;
  padding: 16px 0;
 }


 .dropdown-content_again:hover{
  display: inline-block;
  background-color:#4c9e9e;
  transition: 0.3s ease;
 }

 input[type=checkbox]:checked ~ .dropdown-content_again{
  display: block;
 }

 .hamburger {
  display: block;
 }



}


.nav-item Link{
  text-decoration: none;

}

.section-header{
  position: sticky;
  top:0%;
  z-index: 10;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
























